{% set allBadges = all_badges|default([]) %}

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-6 px-8">
	{% for badge in allBadges %}
		{% if badge.type == 'review' %}
			{% set badgeImage = 'images/badges/review.svg' %}
		{% elseif badge.type == 'photo' %}
			{% set badgeImage = 'images/badges/photo.svg' %}
		{% elseif badge.type == 'roadtrip' %}
			{% set badgeImage = 'images/badges/roadtrip.svg' %}
		{% endif %}
		{% set unlocked = user.badges.contains(badge) %}
		<div class="flex items-center gap-2 flex-col">
			{% if unlocked %}
        <img src="{{ asset(badgeImage) }}" alt="{{ badge.name }}" style="background-color: {{ badge.backgroundColor }};" class="w-36 h-36 rounded-full border-2">
				<h3 class="text-lg font-medium font-second text-orange">{{ badge.name }}</h3>
				<p>{{ badge.description }}</p>
			{% else %}
				<img src="{{ asset('images/badges/secret.svg') }}" alt="Badge secret" class="w-36 h-36 rounded-full border-2 bg-gray-400 border-gray-300 opacity-40">
				<h3 class="text-lg font-medium font-second text-gray-400">{{ badge.name }}</h3>
				<p class="text-gray-400">???</p>
			{% endif %}
		</div>
	{% endfor %}
</div>
