{% set images = roadtrip.steps|slice(0, 3)|map(step => step.restaurant.bannerName ? vich_uploader_asset(step.restaurant, 'bannerFile') : null)|filter(v => v) %}
{% set count = images|length %}
<a href="{{ path('app_roadtrip_show', { id: roadtrip.id }) }}" class="bg-orange/10 rounded-xl p-6 hover:shadow-main group">
	{% if count > 0 %}
		<div class="mb-4">
			{% if count == 1 %}
				<img src="{{ images[0] }}" alt="Preview" class="object-cover h-24 w-full rounded-md">
			{% elseif count == 2 %}
				<div class="flex gap-2">
					{% for image in images %}
						<img src="{{ image }}" alt="Preview" class="object-cover h-24 w-1/2 rounded-md">
					{% endfor %}
				</div>
			{% elseif count == 3 %}
				<div class="flex gap-2 h-24">
					<img src="{{ images[0] }}" alt="Preview" class="object-cover w-1/2 h-full rounded-md">
					<div class="flex flex-col gap-2 w-1/2">
						<img src="{{ images[1] }}" alt="Preview" class="object-cover h-1/2 w-full rounded-md">
						<img src="{{ images[2] }}" alt="Preview" class="object-cover h-1/2 w-full rounded-md">
					</div>
				</div>
			{% endif %}
		</div>
	{% endif %}


	<h3 class="text-lg font-second font-medium text-orange mb-2">{{ roadtrip.title }}</h3>

	<div class="text-sm text-gray-700 space-y-1">
		<p>
			<i class="fa-solid fa-signs-post text-orange mr-1"></i>
			{{ roadtrip.steps|length }}
			étapes</p>
		<p>
			<i class="fa-solid fa-earth-americas text-orange mr-1"></i>
			Villes</p>

		<div class="flex flex-wrap gap-2">
			{% set villes = [] %}
			{% for step in roadtrip.steps %}
				{% if step.town not in villes %}
					{% set villes = villes|merge([step.town]) %}
				{% endif %}
			{% endfor %}

			{% for ville in villes %}
				<span class="bg-blue text-white rounded-full py-1 px-3 text-xs">{{ ville }}</span>
			{% endfor %}
		</div>
	</div>
</a>
