<a href="{{ path('app_restaurant_show', { slug: restaurant.slug }) }}">
	<div class="bg-white rounded-2xl shadow-main p-4 flex flex-col gap-2 items-center w-full max-w-xs">
		{% if restaurant.bannerName %}
			<img src="{{ vich_uploader_asset(restaurant, 'bannerFile') }}" alt="Photo de {{ restaurant.name }}" class="rounded-xl h-40 w-full object-cover">
		{% else %}
			<div class="h-40 w-full bg-gray-100 rounded-xl flex items-center justify-center text-gray-400">
				Pas d'image
			</div>
		{% endif %}

		<div class="mt-2">
			<h3 class="text-lg font-medium font-second text-blue mb-2">{{ restaurant.name }}</h3>
			<p class="text-sm line-clamp-2">
				{{ restaurant.description|striptags|length > 80 ? restaurant.description|striptags|slice(0, 77) ~ '...' : restaurant.description|striptags }}
			</p>
			<div class="flex gap-1 items-center text-blue mt-2">
				{% set avg = restaurant.averageRating %}
				{% for i in 1..5 %}
					<i class="fa{{ avg >= i ? 's' : (avg >= i - 0.5 ? 's' : 'r') }} fa-star text-sm"></i>
				{% endfor %}
				<span class="text-sm text-black ml-2">
					{{ restaurant.reviews|filter(r => not r.response)|length }}
					avis
				</span>
			</div>
		</div>

	</div>
</a>
