{% extends 'base.html.twig' %}

{% block title %}Charte Restaurateur –
	{{ restaurant.name }}
{% endblock %}

{% block body %}
	<div class="w-2/5 mx-auto px-6 py-8 mt-28">

		<h1 class="text-3xl font-second text-center font-medium text-orange mb-8">
			Charte Gourmy –
			{{ restaurant.name }}
		</h1>

		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }} mb-4">
					{% autoescape false %}
						{{ message }}
					{% endautoescape %}
				</div>
			{% endfor %}
		{% endfor %}

		{{ form_start(charterForm, {'attr': {'class': 'space-y-8'}}) }}

		<section class="bg-blue/5 rounded-xl p-6 space-y-4">
			{{ form_row(charterForm.usesLocalProducts) }}
			{{ form_row(charterForm.homemadeCuisine) }}
			{{ form_row(charterForm.wasteReduction) }}
			{{ form_row(charterForm.transparentOrigin) }}
			{{ form_row(charterForm.professionalRepliesToReviews) }}
			{{ form_row(charterForm.acceptsModeration) }}
		</section>
		<section class="bg-orange/5 rounded-xl p-6 space-y-4">
			<p>
				En validant cette charte, vous vous engagez à respecter les valeurs de Gourmy et à offrir une expérience de qualité à vos clients.
                En cas de non-respect, votre restaurant pourrait être suspendu ou retiré de la plateforme.
			</p>
		</section>
		<p class="text-sm mt-4">
			Si vous souhaitez plus d'informations sur cette charte, vous pouvez consulter notre
			<a href="" class="text-blue hover:text-blue/80">page dédiée à la charte restaurateur</a>
		</p>

		<div class="flex justify-center gap-4 mt-6">
			<a href="{{ path('app_restaurateur') }}" class="btn-secondary">Annuler</a>
			<button type="submit" class="btn">Valider la charte</button>
		</div>

		{{ form_end(charterForm) }}
	</div>
{% endblock %}
