{% extends 'base.html.twig' %}

{% block title %}
	{{ restaurant.name }}
{% endblock %}

{% block body %}
	<h1>{{ restaurant.name }}</h1>

	{% if restaurant.bannerName %}
		<img src="{{ vich_uploader_asset(restaurant, 'bannerFile') }}" alt="Bannière" class="w-1/2">
	{% endif %}

	<h2>{{ restaurant.name ~ ' (' ~ restaurant.slug ~ ')' }}</h2>
	<p>{{ restaurant.description }}</p>
	<p>Adresse:
		{{ restaurant.address ~ ' ' ~ restaurant.postalCode ~ ' ' ~ restaurant.city ~ ', ' ~ restaurant.country }}</p>

	<script type="module" src="{{ asset('webcomponents/MapPreview.js') }}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDWeDyCsZGLwzEDg6JpQ7tuOAoJQcv2L4" async defer></script>
	<map-preview address="{{ restaurant.address|e('html_attr') }}" postal-code="{{ restaurant.postalCode|e('html_attr') }}" city="{{ restaurant.city|e('html_attr') }}" country="{{ restaurant.country|e('html_attr') }}"></map-preview>

	<p>Price Range:
		{{ restaurant.priceRange }}</p>
	<p>Opening Hours:
		{{ restaurant.openingHours }}</p>

	{% if restaurant.types is not empty %}
		<h3>Types:</h3>
		{% for type in restaurant.types %}
			<p>{{ type.name }}</p>
		{% endfor %}
	{% endif %}
	{% if restaurant.phoneNumber is not null %}
		<p>Contact:
			{{ restaurant.phoneNumber }}</p>
	{% endif %}

	{% if restaurant.website is not null %}
		<p>Website:
			<a target="_blank" href="{{ restaurant.website }}">{{ restaurant.website }}</a>
		</p>
	{% endif %}

	<script type="module" src="{{ asset('webcomponents/reviews/ReviewList.js') }}"></script>
	<script type="module" src="{{ asset('webcomponents/ModalConfirm.js') }}"></script>

	<review-list restaurant-id="{{ restaurant.id }}" user-id="{{ app.user ? app.user.id : '' }}" user-username="{{ app.user ? app.user.username : '' }}" is-owner="{{ isOwner ? '1' : '0' }}" editable="true" added="true"></review-list>

{% endblock %}
