{% extends 'base.html.twig' %}

{% block title %}Renvoyer la confirmation
{% endblock %}

{% block body %}
	<h1>Renvoyer l'email de confirmation</h1>

	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }}">{{ message }}</div>
		{% endfor %}
	{% endfor %}

	{{ form_start(form) }}
	{{ form_row(form.email) }}
	<button class="btn btn-primary">Renvoyer l'email</button>
	{{ form_end(form) }}
{% endblock %}
