{% extends 'base.html.twig' %}

{% block title %}@{{ user.username|lower }}
{% endblock %}

{% block body %}
	<div class="mt-28">
		<section class="w-3/4 mx-auto flex items-center gap-16 py-4">
			{% if user.avatarName %}
				<img src="{{ vich_uploader_asset(user, 'avatarFile') }}" alt="Avatar" class="w-64 rounded-full">
			{% else %}
				<img src="{{ asset('images/avatar-placeholder.png') }}" alt="Avatar par défaut" class="w-64 rounded-full">
			{% endif %}

			<div>
				<h1 class="font-second text-blue text-4xl font-medium">{{ user.firstName ~ ' ' ~ user.lastName }}</h1>
				<p class="text-orange font-medium text-lg">@{{ user.username }}</p>
				<p class="text-sm mt-2">
					Classement général :
					<strong class="font-medium text-blue">{{ rank }}<sup>e</sup>
					</strong>
					sur
					{{ all_users_count }}
					utilisateurs
				</p>
			</div>
		</section>
		<script type="module" src="{{ asset('webcomponents/TabView.js') }}"></script>

		<section class="w-3/4 mx-auto mt-8">
			<tab-view tabs='[
				{
					"title": "Photos",
					"content": {{ include("user/profile/_photos.html.twig", { photos: photos })|json_encode|raw }}
				},
				{
					"title": "Roadtrips",
					"content": {{ include("user/profile/_roadtrips.html.twig", {
						isPublic: true,
						username: user.username
					})|escape('html')|json_encode|raw }}
				},
				{
					"title": "Badges",
					"content": {{ include("user/profile/_badges.html.twig")|json_encode|raw }}
				},
				{
					"title": "Carte",
					"content": {{ include("user/profile/_map.html.twig")|json_encode|raw }}
				}
			]'></tab-view>
		</section>
	</div>
{% endblock %}
