{% extends 'base.html.twig' %}

{% block title %}@{{ user.username|lower }}
{% endblock %}

{% block body %}
	<div
		class="mt-28">

		{# En-tête profil #}
		<section class="max-w-7xl w-11/12 md:w-5/6 lg:w-3/4 mx-auto px-4 sm:px-6 lg:px-8 py-4">
			<div
				class="grid grid-cols-1 lg:grid-cols-12 items-center gap-6 sm:gap-8">

				{# Avatar #}
				<div class="lg:col-span-4 flex justify-center lg:justify-start">
					{% if user.avatarName %}
						<img src="{{ vich_uploader_asset(user, 'avatarFile') }}" alt="Avatar de {{ user.username }}" class="rounded-full object-cover w-28 h-28 sm:w-36 sm:h-36 md:w-44 md:h-44 lg:w-64 lg:h-64">
					{% else %}
						<img src="{{ asset('images/avatar-placeholder.png') }}" alt="Avatar par défaut" class="rounded-full object-cover w-28 h-28 sm:w-36 sm:h-36 md:w-44 md:h-44 lg:w-64 lg:h-64">
					{% endif %}
				</div>

				{# Infos utilisateur #}
				<div class="lg:col-span-8 flex flex-col mx-auto lg:mx-0">
					<h1 class="font-second text-blue text-2xl sm:text-3xl lg:text-4xl font-medium leading-tight">
						{{ user.firstName ~ ' ' ~ user.lastName }}
					</h1>
					<p class="text-orange font-medium text-sm sm:text-base">@{{ user.username|lower }}</p>

					<p class="text-xs sm:text-sm mt-2 leading-relaxed">
						Classement général :
						<strong class="font-medium text-blue">
							{{ rank }}<sup>e</sup>
						</strong>
						sur
						{{ all_users_count }}
						utilisateurs
					</p>
				</div>

			</div>
		</section>

		{# Onglets #}
		<script type="module" src="{{ asset('webcomponents/TabView.js') }}"></script>
		<section class="max-w-7xl w-11/12 lg:w-3/4 mx-auto px-4 sm:px-6 lg:px-8 mt-6">
			<tab-view>
				<tab-item title="Photos" active>
					{{ include("user/profile/_photos.html.twig", { photos: photos })|raw }}
				</tab-item>

				<tab-item title="Roadtrips">
					{{ include("user/profile/_roadtrips.html.twig", {
            isPublic: true,
            username: user.username
          })|raw }}
				</tab-item>

				<tab-item title="Badges">
					{{ include("user/profile/_badges.html.twig")|raw }}
				</tab-item>

				<tab-item title="Carte">
					{{ include("user/profile/_map.html.twig")|raw }}
				</tab-item>
			</tab-view>
		</section>

	</div>
{% endblock %}
